/* AdditionalPanel.css */



.mission-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px; 
  }
  
  .mission-text-section {
    flex: 1;
    padding-right: 5px; 
  }
  
  .mission-image-section {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .img {
    max-width: 100%;
    max-height: 100%; 
    width: auto; 
    height: auto; 
    object-fit: cover; 
  }
  
  .mission-button {
    color: #ffffff; 
    background-color:#013220; 
    font-size: 16px; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px black; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .mission-button:hover {
    background-color: #004d00;
  }
  